
body {
    background-color: aquamarine;
    width: 1000vw;
    display:flex;
    align-items: center;
    justify-content: baseline;
}

ul {
    list-style-type: none;
    font-family: Arial;
    color: olivedrab;
    font-size: 40px;
    font-weight: 800
}

